<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- Display errors if any -->
    <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
    <div class="errors">
      <% errors.forEach(error => { %>
      <div><%= error.msg %></div>
      <% }) %>
    </div>
    <% } %>

    <!-- If not logged in, show sign up & log in buttons-->
    <% if (!user) { %>
    <div id="formsContainer">
      <form id="signupForm" action="/signup" method="post">
        <label for="username">Username</label>
        <input type="text" id="usernameSignup" name="usernameSignup" required />
        <label for="password">Password</label>
        <input
          type="password"
          id="passwordSignup"
          name="passwordSignup"
          required
        />
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          required
        />
        <button type="submit">Sign Up</button>
      </form>
      <form id="loginForm" action="/login" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Log In</button>
      </form>
    </div>
    <% } %>
    <!-- Footer -->
    <%- include('footer'); %>
  </body>
</html>
