<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="loggedInButtons">
      <!-- Go up a folder  -->
      <% if (folder.parentId) { %>
      <a class="backLink" href="/uploader/folder/<%= folder.parentId %>"
        >&#8617; Go Back</a
      >
      <% } else { %>
      <!-- Empty div for flex space-between to work on logout button-->
      <div></div>
      <% } %>

      <!-- Logout Button -->
      <form id="logOutForm" action="/uploader/logOut" method="get">
        <button type="submit">Log Out</button>
      </form>
    </div>
    <!-- File Upload -->
    <form
      action="/uploader/upload/"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="divFormContainer">
        <h2>Upload a File:</h2>
        <label for="selectedFile"></label>
        <input type="file" id="selectedFile" name="selectedFile" required />
        <!-- keep context so controller can redirect back -->
        <input type="hidden" name="folderId" value="<%= folder.id %>" />
        <button type="submit">Upload</button>
      </div>
    </form>

    <!-- Create Folder -->
    <div class="divFormContainer">
      <h2>Create Folder:</h2>
      <form id="createFolder" action="/uploader/folder" method="post">
        <input
          type="text"
          name="createFolderName"
          placeholder="Folder Name"
          required
        />
        <input type="hidden" name="parentId" value="<%= folder.id %>" />
        <button type="submit">Create</button>
      </form>
    </div>

    <!-- Error Message Display -->
    <% if (errors && errors.length > 0) { %>
    <div class="errorMessage">
      <% errors.forEach(error => { %>
      <div><%= error.msg %></div>
      <% }) %>
    </div>
    <% } %>

    <!-- Display folders & files -->
    <% if (!folder.children || folder.children.length === 0) { %>
    <p>This folder has no subfolders.</p>
    <% } else { %> <% folder.children.forEach(child => { %>
    <div class="folderBlock">
      <!-- Folder Button -->
      <form
        class="folderNavForm"
        action="/uploader/folder/<%= child.id %>"
        method="get"
      >
        <button class="folderButton" type="submit">
          <span class="folderName"><%= child.name %></span>
        </button>
      </form>
      <!-- Details -->
      Created: <%= new Date(child.contentsCreatedAt).toLocaleString(`en-US`,
      {dateStyle: "medium", timeStyle: "short"}) %>
      <!-- Edit Button -->
      <div id="buttonContainer">
        <form
          class="editForm"
          id="edit<%= child.id %>"
          action="/uploader/folder/<%= child.id%>/edit"
          method="post"
        >
          <input
            type="text"
            name="newName"
            placeholder="New Folder Name"
            minlength="1"
            required
          />
          <input type="hidden" name="folderId" value="<%= child.id %>" />
          <button class="submitButton" type="submit">Change Name</button>
        </form>
        <button
          class="iconButton"
          type="button"
          onclick="showEdit(`<%= child.id %>`)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100%"
            viewBox="0 0 24 24"
          >
            <title>pencil</title>
            <path
              d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"
            />
          </svg>
        </button>

        <!-- Delete Button -->
        <form action="/uploader/folder/<%= child.id %>/delete" method="post">
          <button
            class="iconButton"
            type="submit"
            onclick="return confirm('Delete this folder?')"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="100%"
              viewBox="0 0 24 24"
            >
              <title>trash-can</title>
              <path
                d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M9,8H11V17H9V8M13,8H15V17H13V8Z"
              />
            </svg>
          </button>
        </form>
      </div>
    </div>
    <% }) %> <% } %>

    <h2>Files:</h2>
    <% if (!folder.files || folder.files.length === 0) { %>
    <p>No files.</p>
    <% } else { %> <% folder.files.forEach(file => { %>
    <div class="divFileContainer">
      <div class="upperFileContainer">
        <!-- File Details -->
        <span
          ><a class="fileDetailName" href="/uploader/file/<%= file.id %>"
            ><%= file.originalName || file.fileName || file.id %></a
          ></span
        >
        Size: <%= file.contentsSize %> &nbsp; • &nbsp; Uploaded: <%= new
        Date(file.contentsCreatedAt).toLocaleString(`en-US`, {dateStyle:
        "medium", timeStyle: "short"}) %>
        <!-- Download Button -->
        <form
          class="downloadForm"
          action="/uploader/file/<%= file.id %>/download/"
          method="get"
        >
          <button class="fileViewDownload" type="submit">Download</button>
        </form>
      </div>

      <div class="lowerFileContainer">
        <!-- Shareable Link Button -->
        <button
          class="shareButton"
          id="shareBtn<%= file.id%>"
          onclick="insertLink(`<%= file.id %>`)"
          type="button"
        >
          Share
        </button>
        <span class="sharedLink" id="shareSpan<%= file.id%>"></span>
      </div>
    </div>
    <% }) } %>
    <!-- Footer -->
    <%- include('footer'); %>

    <script src="/scripts/uploaderScripts.js"></script>
  </body>
</html>
